<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094715114515-4g7nn82jq8l288um3u8hqtj4vf7ukkou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094715114515-4g7nn82jq8l288um3u8hqtj4vf7ukkou</string>
	<key>API_KEY</key>
	<string>AIzaSyC8f5ZX3GWbUYWZ2xlZOcF4Td7e_01xdRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1094715114515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teacherApp</string>
	<key>PROJECT_ID</key>
	<string>attendance-app-b667e</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-app-b667e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094715114515:ios:e72b71a2f7bd1cf9f92be6</string>
	<key>DATABASE_URL</key>
	<string>https://attendance-app-b667e-default-rtdb.firebaseio.com</string>
</dict>
</plist>